
body{
    background: black;
    padding:10% 10%;
}

p{
    font-family: 'Kalam', cursive;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    text-justify: inter-word;
}

.post{
    width: 100%;
    max-width: 800px;
    margin:0 auto;
    background-color: white;
}

.post-header{
    padding: 15px;
    position:relative;
    display: flex;
}
.post-header p{
    /* line-height: 0.7; */
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 5px;
}

.post-img img{
    width: 100%;
}

.post-body{
    padding: 15px;
}

.post-icons{
    padding: 15px;
    position:relative;
    display: flex;
}

.to-end-icon{
    position:absolute;
    right: 0;
    width: 3%;
    padding-top: 12px;
}

.img-icon {
    width: 4%;
    object-fit: contain;
    padding-right: 10px;
}